################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/clonage
.vs
Livrable1/bin
Livrable1/obj
CryptoSoft/bin
CryptoSoft/obj
Livrable1.Logger/bin
Livrable1.Logger/obj
/bin
/obj
.env